<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">


<header >
  <nav class="navbar navbar-expand-lg   bg-info text-white">
    <div class="container-fluid">
      <a class="navbar-brand" >Shopping</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex " role="search">
          <button><a class="" href="/login">Logout</a></button>
          <button class="btn btn-outline-success" type="submit"  ><a  href="/login"></a>Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>


  <div class="sidebar">
    <a class="active" ><i class="bi bi-house"></i>  Home</a>

    <a><i class="bi bi-people-fill"></i>Member Details</a>
    <div class="dropdown-content" id="myDropdown">
      <a href="">Link 1</a>
      <a href="">Link 2</a>
      <a href="">Link 3</a>
    </div>

    <a > <i class="bi bi-coin"></i>Coins </a> 
    <a ><i class="bi bi-mailbox"></i>Franchise</a>
    <a ><i class="bi bi-shield-lock-fill"></i>Access Control</a>
    <a ><i class="bi bi-microsoft-teams"></i>Team</a>
    <a ><i class="bi bi-currency-dollar"></i>Income</a>
    <a ><i class="bi bi-bag-fill"></i>Topup</a>
    <a ><i class="bi bi-key-fill"></i>Pin Management</a>
    <a ><i class="bi bi-stopwatch"></i>Transaction</a>
    <a ><i class="bi bi-bag-fill"></i>Repurchase</a>
    <a ><i class="bi bi-basket-fill"></i>Repurchase Orders</a>
  </div>

  <!-- Page content -->
  <div class="content">

   
  </div>