:root {
    --background: #1a1a2e;
    --color: #ffffff;
    --primary-color: #0f3460;
}
* {
  box-sizing: border-box;
}
.center {
    margin: auto;
    width: 100%;
    // height: 100%;
    border: 5px solid #73AD21;
    padding: 10px;
    padding-top: 25wv;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
    background: var(--background);
    color: var(--color);
    letter-spacing: 1px;
    transition: background 0.2s ease;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.form-container {
  border: 1px solid hsla(0, 0%, 65%, 0.158);
  box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  z-index: 99;
  padding: 2rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}

.login-container {
  position: relative;
  width: 30rem;
  height: 100%;
}
  
.login-container form button{
  width: 100%;
}

.gender-select {
  width: 200px;
  overflow-y: auto;
  max-height: 100px;
}

.row {
  flex-direction: column-reverse;
}

.row1{
  width: 50%;
}